html{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
.link-text{
    font-size: larger;

}
.emph-txt{
    font-size: xx-large;
}

a:link {
  color: crimson;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: crimson;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}



